[submodule "enterprise"]
	path = enterprise
	url = git@github.com:element-hq/element-android-enterprise.git
[submodule "checkouts/compound-android"]
	path = checkouts/compound-android
	url = https://github.com/tchapgouv/compound-android.git
